@page "/"

<PageTitle>Index</PageTitle>

<h1>Play Sudoku</h1>
<div class="d-flex">
    <SudokuBoard Cells="@Board"></SudokuBoard>
</div>
<p>By Team Green_Bearcat.</p>
<p>Code by: Jakob Strasser</p>
<p>Copyright: Jakob Strasser 2023</p>
@code {
    public int[]? Board;

    protected override void OnInitialized()
    {
        //Init Board
        Board = new int[81];
        for (int i = 0; i < Board.Length; i++)
            Board[i] = -1;
    }
}